/LATSOALW3/nbproject/private/
/LATSOALW3/build/
/PerguruanTinggi/nbproject/private/
/PerguruanTinggi/build/
/LATSOALW4/nbproject/private/
/LATSOALW4/Barang/nbproject/private/
/LATSOALW4/Barang/build/
/LATSOALW4/UpinIpin/nbproject/private/
/LATSOALW4/UpinIpin/build/
/LATSOALW4/KelasSatu/nbproject/private/
/LATSOALW4/KelasSatu/build/
/LATSOALW4/Restaurant/nbproject/private/
/LATSOALW4/Restaurant/build/
/LATSOALW4/Rikudo/nbproject/private/
/LATSOALW4/Rikudo/build/
/LATSOALW6/Association/nbproject/private/
/LATSOALW6/Association/build/
/LATSOALW6/Bank/nbproject/private/
/LATSOALW6/Bank/build/
/LATSOALW6/mengambil/nbproject/private/
/LATSOALW6/mengambil/build/
/LATSOALW6/Aggregation/nbproject/private/
/LATSOALW6/Aggregation/build/
/LATSOALW6/Jurusan/nbproject/private/
/LATSOALW6/Compotition/nbproject/private/
/LATSOALW6/Compotition/build/
/LATSOALW6/Composition/nbproject/private/
/LATSOALW6/Composition/build/
/LATSOALW6/Depedence/nbproject/private/
/LATSOALW6/Depedence/build/
/LATSOALW7/Exercise1/nbproject/private/
/LATSOALW7/Exercise1/build/
/LATSOALW7/Exercise2/nbproject/private/
/LATSOALW7/Exercise2/build/
/LATSOALW8/Task7.1/nbproject/private/
/LATSOALW8/Task7.1/build/
/LATSOALW8/Task7.2/nbproject/private/
/LATSOALW8/Task7.2/build/
/LATSOALW8/Task7.3/nbproject/private/
/LATSOALW8/Task7.3/build/
/LATSOALW9/PaintingShapes/nbproject/private/
/LATSOALW9/PaintingShapes/build/
/LATSOALW9/TheAvenged/nbproject/private/
/LATSOALW9/TheAvenged/build/
/LATSOALW9/Soal1/nbproject/private/
/LATSOALW9/Soal1/build/
/LATSOALW9/Soal2/nbproject/private/
/LATSOALW9/Soal2/build/
/LATSOALW10/Soal3/nbproject/private/
/LATSOALW10/Soal3/build/
/LATSOALW10/TextFieldOnlyInteger/nbproject/private/
/LATSOALW10/TextFieldOnlyInteger/build/
/LATSOALW11/TestDrivenDevelopmentWithJunit/nbproject/private/
/LATSOALW11/TestDrivenDevelopmentWithJunit/build/
/LATSOALW12/JavaApplication43/nbproject/private/
/LATSOALW12/JavaCollections/nbproject/private/
/LATSOALW12/JavaCollections/build/
/LATSOALW13/nbproject/private/
/LATSOALW13/App/nbproject/private/
/LATSOALW13/App/build/
/LATSOALW13/build/
