/LATSOALW3/nbproject/private/
/LATSOALW3/build/
/PerguruanTinggi/nbproject/private/
/PerguruanTinggi/build/
/LATSOALW4/nbproject/private/
/LATSOALW4/Barang/nbproject/private/
/LATSOALW4/Barang/build/
/LATSOALW4/UpinIpin/nbproject/private/
/LATSOALW4/UpinIpin/build/
/LATSOALW4/KelasSatu/nbproject/private/
/LATSOALW4/KelasSatu/build/
/LATSOALW4/Restaurant/nbproject/private/
/LATSOALW4/Restaurant/build/
/LATSOALW4/Rikudo/nbproject/private/
/LATSOALW4/Rikudo/build/
